/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "bootstrap";
@import "font-awesome";

.card {
  border-radius: 12px;
  border: none;
}

.card-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.form-control, .form-select {
  height: 45px;
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.detail-label {
  font-weight: bold;
}

.field_with_errors {
  display: inline-block; /* または元のスタイルに合わせる */
}